@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --text: #eee8e8;
    --background: #363636;
    --secondary-bg: #242424;
    --primary: #cba5a5;
    --secondary: #753b3b;
    --accent: #b96060;
}

body,
html {
  height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    grid-template-rows: repeat(5,1fr) 40px;
    
}
body>*{
    /* border: 1px red solid; */
}

.main-header{
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: var(--accent);
}
.side-bar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: var(--secondary-bg);
    
}
main{
    grid-column: 2/-1;
    grid-row: 2/-2;
    background-color: var(--background);
}
footer{
    grid-column: 2/-1;
    grid-row: 6/-1;
    background-color: var(--primary);
}