@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --text: #eee8e8;
    --text-filter: invert(99%) sepia(0%) saturate(5792%) hue-rotate(317deg) brightness(129%) contrast(82%);
    --background: #363636;
    --secondary-bg: #242424;
    --primary: #dfa5a5;
    --secondary: #753b3b;
    --accent: #b96060;
    --page-fonts: 1.5rem;
    --header-fonts: 2rem;
}

body,
html {
  min-height: 100vh;
}

body{
    display: grid;
    grid-template-columns: minmax(250px,1.1fr) 5fr;
    grid-template-rows: minmax(160px,auto) repeat(4,1fr);
    
}
body>*{
    /* border: 1px red solid; */
}

/* HEADER AREA ======================*/
.main-header{
    /* grid */
    grid-column: 2/-1;
    grid-row: 1/2;
    /* positioning */
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 60px 10px 30px;
    /* colors */
    background-color: var(--primary);
}

.header-icons{
    height: var(--header-fonts);
}

.top-row, .bottom-row{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
/* ====search bar */
.search,.search-container,.search-bar{
    display: flex;
    flex: 1;
}
.search{
    align-items: center;
}
.search-container{
    margin-left: 10px;
}
.search-bar{
    height: var(--header-fonts);
    border: 1px var(--secondary) solid;
    border-radius: 15px;
    padding-left: 15px;
    font-size: calc(1.2rem + 0.05vw);
}
/* ====user area */
.user-name{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-small{
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.name-small{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: -10px;
}

.user-greeting{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-big{
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 60px;
}
.name-big{
    font-size: 1.5rem;
    font-weight: bolder;
}

.action-buttons{
    display: flex;
    gap: 25px;
}
.action-buttons>button{
    background-color: var(--secondary);
    color: var(--text);
    font-size: 1.1rem;
    width: 100px;
    padding: 5px 0px;
    border: 1px rgba(255, 255, 255, 0) solid;
    border-radius: 10px;
}



/* SIDE BAR AREA ======================*/
.side-bar{
    /* grid */
    grid-column: 1/2;
    grid-row: 1/-1;
    /* colors */
    background-color: var(--secondary); 
    color: var(--text);
    /* positioning */
    padding-left: 25px;
    /* text */
}
.site-logo{
    display: flex;
    /* positioning */
    margin: 30px 0 60px 0;
    gap: 15px;
    align-items: center;
    /* text */
    font-size: 1.2rem;
}
.pages,.settings{
    padding-left: 5px;
}
.pages li,.settings li{
    list-style-type: none;
    display: flex;
    /* positioning */
    gap: 10px;
    /* text */
    font-size: var(--page-fonts);
} 
.pages ul, .settings ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pages{
    margin-bottom: 50%;
}  
.logo-img{
    height: 50px;
    filter: var(--text-filter)
}
.page-icons{
    height: var(--page-fonts);
    filter: var(--text-filter)
}


/* MAIN AREA ======================*/
/* ====projects area */
main{
    grid-column: 2/-1;
    grid-row: 2/-1;
    background-color: var(--background);
    padding: 30px 20px 20px 20px;

    /* main grid templates */
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.container-title{
    color: var(--text);
    font-size: 1.5rem;
    margin-bottom: 24px;
}
.project-column{
    /*grid*/
    grid-column: 1/2;
    grid-row: 1/-1;
    /*margins/paddings*/
    padding-right: 50px;
}
.project-contatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 30px;
}
.project-tile{
    /*grid*/
    display: grid;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 1fr 60px;
    /*margins/paddings*/
    border-radius: 20px;
    /* colors */
    color: var(--text);
    background-color: var(--secondary-bg);
}
.color-bar{
    background-color: var(--accent);
    grid-column: 1/2;
    grid-row: 1/-1;
    border-radius: 20px 0 0 20px;
}
.content-column{
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 24px;
}
.project-title{
    margin-bottom: 28px;
}
.bottom-container{
    grid-column: 2/-1;
    grid-row: 2/-1;
    padding: 24px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
}
.git-icons{
    width: 24px;
    filter: var(--text-filter)
}


/* INFO COLUMN========= */

.info-column{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 1vw;
}
.announcements{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.announcements-tile{
    padding-bottom: 24px;
    /* border-bottom: 1px var(--accent) solid; */
}
.announcements-tile:not(:last-child){
    /* ###SELECTS ALL DIV THAT ARE NOT LAST CHILD */
    border-bottom: 1px var(--accent) solid;
}
.announcements-conatiner, .trending-conatiner{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    border-radius: 20px;
    /* colors */
    color: var(--text);
    background-color: var(--secondary-bg);
}
.trending{
    grid-column: 2/3;
    grid-row: 2/3;
}
.trending-tile{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 12px;
}



/* FOOTER AREA ======================*/
footer{
    grid-column: 2/-1;
    grid-row: 6/-1;
    background-color: var(--primary);
}